.home_form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 32px;
  width: 25vw;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
}

.header button {
  margin-left: 30px;
}

.inputContainer {
  position: relative;
  width: 25vw;
}

.input {
  height: 41px;
  border-radius: 6px;
  border: 1px solid #8f8f8f;
  width: 100%;
}

.select {
  height: 45px;
  border-radius: 6px;
  border: 1px solid #8f8f8f;
  cursor: pointer;
  width: 25vw;
}

.separator {
  font-size: 14px;
  color: #a8a8b3;
  display: flex;
  align-items: center;
}

.separator::before {
  content: '';
  flex: 1;
  height: 1px;
  background: #a8a8b3;
  margin-right: 16px;
}

.separator::after {
  content: '';
  flex: 1;
  height: 1px;
  background: #a8a8b3;
  margin-left: 16px;
}

.buttonContainer {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 120px;
  flex-direction: column;
}

.button {
  color: #ffffff;
  background-color: #00920c;
  border: none;
  border-radius: 6px;
  height: 45px;
  width: 100%;
  cursor: pointer;
}

.error {
  position: absolute;
  text-align: center;
  top: 48px;
  color: #ff0000;
  font-size: 12px;
}

.error_header {
  position: absolute;
  text-align: center;
  top: 48px;
  left: 30px;
  color: red;
  background-color: #ffffff;
  font-size: 12px;
  border-radius: 10px;
  padding: 2px;
  border: 1px solid black;
}